.gsd-keyboard.settings-ported
Docker Desktop/
FreeCAD/
GIMP/
Mendeley Reference Manager/
ParaView/
PrusaSlicer/
Qt/
QtProject.conf
QtProject/
Trolltech.conf
VCG/
VirtualBox/
blender/
cef_user_data/
configstore/
cura/
dconf/
discord/
enchant/
eog/
evince/
evolution/
gedit/
git/
github-copilot/
gnome-control-center/
gnome-games/
gnome-initial-setup-done
google-chrome/
gtk-2.0/
gtk-3.0/
htop/
ibus/
inkscape/
kactivitymanagerdrc
kcachegrindrc
kdeconnect/
kglobalshortcutsrc
krulerrc
libreoffice/
matplotlib/
menus/
mimeapps.list
monitors.xml
monitors.xml~
nautilus/
nvim/.netrwhist
nvim/colors/
nvim/plugged/
nvim/syntax/
okularpartrc
okularrc
pavucontrol.ini
pulse/
remmina/
salome/
session/
systemd/
teamviewer/
terminal-colorschemes/
tmux/tmux-client-18874.log
totem/
transmission/
user-dirs.dirs
user-dirs.locale
vlc/
xpad/
yelp/
zathura/
